body{
    display: flex;
}

.list{
    width: 260px;
}

.list p{
    margin-left: 40px; 
    font-family:monospace;
    font-size: 20px;
    float: ;
}

#kiero{
    display: none;
}

.list li a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.list li{
    list-style: none;
    line-height: 1.5;
    padding: 16px;
    border-bottom: solid #aaaa;
}

#li1{
    border-top: solid #aaaa;
}

.list i{
    padding-right: 10px;
}


img{
    padding-top: 20px;
    width: 620px;
    transform: rotate(-270deg);
}

.left{
    background-color:bisque;
    width: 400px;
    height: 680px;
    display: flex;
}

.left btn{
    text-align: center;
    padding-top: 10px;
    
}

.left p{
    padding-top: 5px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

@media(max-width:1000px){
    body{
        display: flex;
        flex-direction: column;
    }
    .list ul{
        display: none;
    }
    .small-display{
        display: flex;
        width: 380px;
    }
    #kiero{
        display: block;
    }
    p{
      padding-right: 10px;  
    }
    
    .img1{
        padding-top: 100px; 
        margin-left: 50px;
        width: 300px;
        transform: rotate(-270deg);
    }
    
    .left{
        padding-top: 50px;
        margin-left: 20px;
        width: 260px;
    }
}